.upper-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
  position: relative;
  transition: right 2s ease;
  background-color: black;

  overflow: scroll;
}

.inner-section {
  height: 100%;
  padding: 2rem;
  background-color: black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}
