.inner-project {
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: scroll;
}
.page-header {
  display: flex;
  justify-content: space-between;
}

.page-header > button {
  width: 10%;
  height: 100%;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  /*#353535;*/
}

.page-header > button:hover {
  color: white;
  background-color: red;
}

.project-info-section {
  height: 25%;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.project-info-div {
  display: flex;
  padding: 1rem;
  height: 100%;
  gap: 1rem;
  width: 40%;
  border: 1px solid #d1d8dc;
  border-radius: 6px;
  justify-content: space-between;
  background-color: white;
}

.project-info-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
}

.project-info-form > input {
  flex-grow: 1;
  border: none;
  padding-left: 1rem;
  border: 1px solid #d1d8dc;
  /*background-color: #f6f7f9;*/
}

.project-info-submit-button {
  border: 1px solid #d1d8dc;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
}

.project-info-submit-button:hover {
  background-color: #353535;
  color: white;
}

.project-icon-div {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.project-icon-div > svg {
  color: white;
  background-color: #353535;
  border-radius: 6px;
  padding: 2rem;
  cursor: pointer;
  width: 100%;
}

.project-members-div {
  width: 60%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #d1d8dc;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
  padding-bottom: 1rem;
}

.project-member-btn-div {
  display: flex;
  height: 20%;
  width: 100%;
  border-radius: 6px;
  gap: 8px;
}

.project-member-btn-div > button {
  height: 100%;
  width: 50%;
  border: 1px solid #d1d8dc;
  cursor: pointer;
  background-color: white;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-member-btn-div > button:hover {
  background-color: #353535;
  color: white;
}

.project-member {
  width: 100%;
  height: 20%;
  border: 1px solid #d1d8dc;
  border-radius: 6px;
  padding: 1rem;
}

.project-task-section {
  flex-grow: 1;
  border-radius: 6px;
  border: 1px solid #d1d8dc;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.project-add-task-btn {
  width: 100%;
  cursor: pointer;
  border: 1px solid #d1d8dc;
  padding: 1rem;
  background-color: white;
  border-radius: 6px;
}

.project-add-task-btn:hover {
  background-color: #353535;
  color: white;
}
