:root {
  --blackMain: #121218;
  --main: #7c5cff;
  --blackSecondary: #1a1a23;
  --gray: #8f8f8f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
  background-color: var(--blackMain); /* Test to verify variables are working */
}

#app {
  display: flex;
  overflow: hidden;
}
