:root {
  --blackMain: #121218;
  --main: #7c5cff;
  --mainDark: #6346cc;
  --blackSecondary: #1d1b26;
  --gray: #8f8f8f;
  --border: #232334;
  --red: #ff4757;
  --redDark: #ff6b81;
  --green: #2ed573;
  --greenDark: #7bed9f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
  background-color: var(--blackMain); /* Test to verify variables are working */
}

#app {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
